@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font-family: 'Overpass', sans-serif;
}

#root {
	height: 100vh;
	width: 100vw;
}

.weather-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border: 1px solid red;
}

.weather-container > .day-container:not(:first-child) {
	margin-left: -5px;
}

.forecast-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
